<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit AJ Business Contact List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/stylesheets/style.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');    /* Remove the navbar's default margin-bottom and rounded borders */ 
    html {
      position: relative;
      min-height: 100%;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: rgb(107, 36, 36); /*rgba(252, 177, 86, 0.726);*/
      font-family: Poppins, sans-serif;
    }

    body {
      background:-webkit-linear-gradient(rgba(255, 0, 0, 0.381),pink); /*url(/public/images/background-one.jpg); */
      /*rgb(193, 108, 108);rgba(206, 145, 71, 0.726);rgba(252, 177, 86, 0.726);*/
      padding: 2px;
      font-family: Poppins, sans-serif;
      font-size: 1.5rem;
        color: rgb(255, 255, 255);
        text-align: center;
        min-height: 100%;   
    } 
    .main-footer{
    /* margin-top: 6rem; */
    background-color: rgb(107, 36, 36);
    font-weight: bold;
    padding: 5px;
    align-items: center;
    bottom: 0;
    width: 100%;
    
    /* Set the fixed height of the footer here */
    height: 60px;
    position: absolute;
  }

     .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
        flex-grow: 1;
    } 
    .social-link{
         width: 1em;
      margin-right: 2rem;
      margin-left: 2rem;
      color: white;
      font-size:smaller;
      /* margin-top: 40px; */
    }
    .social-link:hover{
      color: black;
  }
    .fab{
        width: 1em;
      margin-right: .5rem; 
           
    }
  .footer-nav{
    align-content: center;
    justify-content: center;
  }
    .accent-text{
        /* font-family:cursive; */
        font-weight:bolder;
        font-size: 2rem;
        color: rgb(107, 36, 36);
    }
  </style>
</head>

<body>
    <%- include ../partials/header.ejs %>
    <!-- Content for the Add_Edit page -->
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <h1><%= title %></h1>

                <form class="form" method="POST">
                    <div class="form-group">
                        <input type="hidden"
                            name="id"
                            value="<%= user._id %>"
                        >
                        <label for="userTextField">UserName</label>
                        <input type="text" class="form-control"
                            id="userTextField"
                            placeholder="Enter the user Name"
                            name="username" 
                            value="<%= user.username %>"
                            required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="PasswordTextField">Password</label>
                        <input type="password" class="form-control"
                        id="PasswordTextField"
                        placeholder="Enter the password"
                        name="password" 
                        value="<%= user.password %>"
                        required>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="emailTextField">Email</label>
                        <input type="email" class="form-control"
                        id="emailTextField"
                        placeholder="Enter your email"
                        name="email" 
                        value="<%= user.email %>"
                        >
                    </div>

                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> 
                        Submit
                    </button>
                    
                    <a href="/user/list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> 
                        Cancel
                    </a>

                </form>
            </div>

        </div>
    </div>

    <%- include ../partials/footer.ejs %>
</body>
</html>